// :host {
//     ion-content {
//         --background: linear-gradient(135deg, var(--ion-color-backgroud), var(--ion-color-light)) !important;
//     }
//     ion-header {
//         --background: linear-gradient(135deg, var(--ion-color-backgroud), var(--ion-color-light)) !important;
//     }
// }
.mat-table,.mat-paginator{
    background: none !important;
    //--background: linear-gradient(135deg, var(--ion-color-backgroud), var(--ion-color-light)) !important;
}
  table {
    width: 100%;
  }
  tr.mat-header-row{
      height: 25px;
  }
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-workerName, td.mat-column-workerName {
   padding-left: 8px;
  }
  

  th.mat-sort-header-sorted {
    color: black;
  }

  .worker-cards{
    .item-title{
      display: flex;
      ion-avatar{
        margin: 10px;
        flex: 20%;
      }
     .item-inner{
      margin-top: 20px;
      flex: 60%;
       h2{
         margin-bottom: 1px;
         margin-top: 0;
         font-size: 18px;
         font-weight: 100;
       }
       span{
         color: grey;
         font-size: 11px;
         font-weight: 100;
       }
      
     }
     ion-icon{
      flex: 10%;
      padding: 20px;
      font-size: 28px;
     }
    }
        
       
   
  }
 