<ion-header>
  <ion-toolbar>
    <ion-title>Request</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="requestWorker" (ngSubmit)="logForm('worker')" *ngIf = "requestWorker.value.workerName">
    <ion-list>
      <ion-item>
        <ion-label>Worker Name</ion-label>
        <ion-input type="text" formControlName="workerName" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-input type="text" formControlName="category" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-input type="text" formControlName="gender" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>City</ion-label>
        <ion-input type="text" formControlName="city" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Message</ion-label>
        <ion-input type="text" formControlName="message"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col offset="4">
        <ion-button type="submit">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <form [formGroup]="requestSeeker" (ngSubmit)="logForm('seeker')" *ngIf = "requestSeeker.value.seekerName">
    <ion-list>
      <ion-item>
        <ion-label>Seeker Name</ion-label>
        <ion-input type="text" formControlName="seekerName" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-input type="text" formControlName="category" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-input type="text" formControlName="gender" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>City</ion-label>
        <ion-input type="text" formControlName="city" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Message</ion-label>
        <ion-input type="text" formControlName="message"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col offset="4">
        <ion-button type="submit">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
